.wrapper-menu-item {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background-image: linear-gradient(198deg, var(--primary-button-gradient-one), var(--primary-button-gradient-two));
    }

    &:hover > .title,
    &:hover > .icon {
        color: white;
    }
}

.title {
    font-size: 1.4rem;
    color: black;
    width: 70%;
}

.icon {
    color: black;
}