.wrapper-layout {
    width: 100%;
    background-color: var(--primary-background);
}

.container-content {
    margin-top: var(--max-height-header);
    margin-left: var(--max-width-sidebar);
    padding: 0 30px 0 30px;
    background-color: var(--primary-background);

}